.tooltip {
    background-color: #474646;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    padding: 0 0.8rem;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
}

.waitBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}